@font-face {
  font-family: "Cabin";
  src: url("../public/fonts/Cabin.ttf");
}

.cabin {
  font-family: "Cabin", sans-serif;
}

body {
  font-family: "Cabin", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px 0;
}

/* AddTransaction.css */
label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

button {
  border-radius: 12px; /* Makes the button rounder */
  padding: 10px 20px; /* Adds padding inside the button */
  margin-top: 16px; /* Adds space between the button and the label above it */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Removes the default border */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}

button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
